.page-layout_side {
  background-color: var(--color_background_subtle);
  min-height: 100vh;
}

.page-layout_side .profile-badge {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: var(--space_200);
  margin-bottom: var(--space_100);
}

.page-layout_side .profile-badge > img {
  background-color: var(--color_background_subtle-floating);
  border-radius: 50%;
  height: var(--space_300);
  width: var(--space_300);
}

.page-layout_side .profile-badge > div {
  display: inline-block;
  min-height: var(--space_100);
  margin-left: var(--space_50);
  min-width: 0;
}

.page-layout_side .profile-badge > div .profile-badge_text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.page-layout_side .profile-badge .profile-badge_text:empty {
  background-color: var(--color_background_subtle-floating);
}

.page-layout_side > nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.page-layout_side > nav > ul {
  list-style-type: none;
  padding: 0;
}

.page-layout_side > nav > ul > li {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: var(--space_100) var(--space_200);
}

.page-layout_side > nav > ul > li > a {
  text-decoration: none;
}

.page-layout_header {
  padding: var(--space_200) var(--space_300);
}

.page-layout_main {
  margin: var(--space_100) var(--space_300);
}
