.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--space_50);
}

.input-field .input-field_area {
  align-items: baseline;
  background: var(--color_background_subtle);
  border: none;
  border-radius: 10px;
  color: var(--color_text_subtle);
  display: flex;
  padding: var(--space_50);
}

.input-field .input-field_area:focus-within {
  outline: max(2px, 0.2em) solid var(--color_background_accent);
  outline-offset: 0.25em;
}

.input-field .input-field_area * {
  color: var(--color_text_subtle);
}

.input-field .input-field_area:focus-within * {
  color: var(--color_text_default);
}

.input-field input {
  background: var(--color_background_subtle);
  border: none;
  flex: 1;
}

.input-field input:focus {
  outline: none;
}
